@model ProductViewModel

@{
    ViewBag.Title = "Product Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.Picture" class="img-fluid" alt="@Model.Name">
        </div>
        <div class="col-md-6">
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
            <p>Type @Model.CategoryName</p>
            <p>Stock: @Model.StockCount</p>
            <p>
                Rating:
                @for (int i = 0; i < 5; i++)
                {
                    if (i < Model.Rating)
                    {
                        <span class="fa fa-star checked"></span>
                    }
                    else
                    {
                        <span class="fa fa-star"></span>
                    }
                }
            </p>
            <form asp-action="AddToCart" asp-controller="Cart" method="post">
                <input type="hidden" name="productId" value="@Model.Id" />
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity" value="1" min="1" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
            <a href="@Url.Action("ProductList", "Products")" class="btn btn-secondary mt-2">Back to List</a>
        </div>
    </div>
</div>

<style>
    .checked {
        color: orange;
    }
</style>
