@model IEnumerable<TransformersShop.Models.ProductViewModel>

@{
    ViewBag.Title = "Products";
}

<div class="container">
    @Html.Partial("_CategoryFilter", ViewBag.Categories as IEnumerable<TransformersShop.Entity.Category>)

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@product.Picture" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < product.Rating)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                                else
                                {
                                    <span class="fa fa-star"></span>
                                }
                            }
                        </p>
                        <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("ProductList", new { page = i, categoryId = ViewBag.SelectedCategoryId })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

<style>
    .checked {
        color: orange;
    }
</style>
